html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Inter", sans-serif, "Arial", Helvetica, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}
h1 {
  color: #333;
  font-size: 3rem;
  margin: 50px;
  /* padding: 50px; */
  text-align: center;
}

h2 {
  color: #333;
  font-size: 2em;
  /* margin-left: 40px; */
  /* padding-left: 50px */
  /* text-align: center; */
}

.expense-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-form {
  height: 100px;

  /* width: 70%; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s linear;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-form input {
  width: 250px;
}
/* .input-form:hover{
  transform: scale(1.02); 
} */

.calender {
  z-index: 1000;
  position: absolute;
  z-index: 9999 !important; /* Make sure it appears above other elements */
  background: #fff;
  border: 1px solid #1976d2;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  padding: 10px;
  cursor: pointer;
}

.calendar-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-day {
  text-align: center;

  /* background-color: #007bff */
}

.month-day:hover {
  background-color: #dedede;
  color: white;
  border-radius: 50%;
}

.month-day.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.date-indicator {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.control.month {
  border: #d6d3d3 solid 1px;
  border-radius: 4px;
  padding: 1px;
  margin: 5px;
  /* background-color: #f8f9fa; */
  transition: background-color 0.2s ease-in-out;
}
.control.year {
  border: #d6d3d3 solid 1px;
  border-radius: 4px;
  padding: 1px;
  margin: 5px;
  /* background-color: #f8f9fa; */
  transition: background-color 0.2s ease-in-out;
}
.control.icon :hover {
  /* border: rgb(110, 109, 109) 1px solid; */
  background-color: #eae8e8;
}

.option-wrapper {
  padding: 0;
  position: absolute;
  margin-top: 4px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px; /* controls visible height */
  overflow-y: auto; /* enables scrolling */
  width: 120px; /* match control if needed */
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.drop-down ul {
  list-style: none;
  padding: 5px;
}

.drop-down ul :hover {
  background-color: #e4e5e6;
}

.expense-section {
  padding-bottom: 100px;
}
.expenses {
  width: 900px;
  /* border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  margin-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.expenses h2 {
  margin-left: 40px;
}

.expenses li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.expenses li span {
  flex: 1;
  text-align: left;
  color: #333;
}
/* .expenses li:nth-child(odd) {
      background: #f1f0f0;
    }
     */

.save-btn-container {
  display: flex;
  /* margin-left: 40px; */
}
.transactions {
  max-width: 350px;
  margin: 20px auto;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.transactions h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 12px;
  color: #333;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 8px;
}

.transactions ul {
  padding: 0;
  list-style: none;
}

.transactions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 4px 0;
  background: #f8f8f8;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}
.transactions li:hover {
  background: #f1f0f0;
}

.expense-list {
  font-size: 20px;
  display: flex;
}

.expense-list h1 {
  margin: 40px 600px;
  border-bottom: #333 solid;
}
.expense-list ol {
  list-style-position: inside;
  width: 800px;
}
.expense-list li {
  margin: 5px;
  background-color: #ffffff;
  border-radius: 6px;
  transition: background-color 0.05s linear;
}

.expense-list li:nth-child(odd) {
  background: #f1f0f0;
}

/* .expense-list li:hover{
    background-color: #eeebeb;
  } */

.expenseList-btn-container {
  width: 100%;
  padding: 5px;
  position: fixed;
  bottom: 0%;
  left: 0%;
  background-color: #ebebeb;
  border-top: 2px solid #929191bd;
}

.expense-filter {
  display: flex;
  flex-direction: column;
}

.expense-filter select {
  font-size: 16px;
  width: fit-content;
  margin-left: auto;
  margin-right: 20px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #9c9a9a;
  background-color: #f8f9fa;
  cursor: pointer;
}

.expense-summary {
  height: 400px;
  width: 400px;
  margin: 50px;
  padding: 20px;
  /* background-color: #f8f9fa; */
  /* border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
}

/* buttons */

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.3em 0.8em;
  border-radius: 0.25em;
  transition: 0.1s ease;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
.input-form button {
  font-weight: bold;
}
.delete-btn {
  padding: 8px;
  border: none;
  background-color: rgb(251, 29, 29);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.delete-btn:hover {
  background-color: red;
}

.save-btn {
  margin-left: auto;
}

.save-btn-container button {
  padding: 10px 20px;
  font-weight: bold;
  /* background-color: #3498db; */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.transactactionDone {
  padding: 5px 8px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.transactactionDone:hover {
  opacity: 1;
}

.checkbox {
  transform: scale(1.3);
  margin-left: 10px;
  cursor: pointer;
}

/* inputs */

input {
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 1.5em;
  margin: 5px;
}

.select-paidBy {
  background-color: #f8f9fa;
  padding: 0.5em 1em;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 1em;
  cursor: pointer;
}


/* responsive */

@media (max-width: 900px) {
  .expense-form h1 {
    font-size: 2.2em;
    margin: 30px;
    /* margin-bottom: 50px; */
  }
  .input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .expenses {
    width: auto;
    padding: 0%;
    margin: 10px;
  }
  .expenses h2 {
    font-size: 2em;
    text-align: center;
  }

  .expenses ol {
    padding: 0%;
  }
  .expenses li {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .btn-toPay {
    margin: 0 5px;
    padding: 0 2px;
    padding-left: 4px;
    height: auto;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .checkbox {
    margin: 6px;
    margin-left: 7px;
  }
  .expenses-btns-container {
    display: flex;
    width: 100%;
    /* font-size: 5px; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
  }
  .delete-btn {
    margin: 5px;
    padding: 5px;
  }

  /* .save-btn{ 
  
   background-color: #848383; 
  padding: 0px; 
} */
  .transactions {
    margin: 5px auto;
    padding: 10px;
  }

  .expense-list {
    width: auto;
  }
  .expense-list h1 {
    margin: 20px;
    width: auto;
  }
  .expense-list ol {
    width: auto;
    padding-left: 10px;
  }
  .expense-list li {
    font-size: 12px;
  }
}
